//
// layout
//

// set breakpoints to EMS
@if($debug != true) {
  @include breakpoint-set('to ems', true);
}

html, body {
  height: 100%;
}

body {
  // test mediaQueries
  @include queryInfo();

  > div {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer"
    ;
  }
}
